/* h3 a{
 color: blue;
} */
/* h2{
 color: blue;
} */
/* body{
 color: blue;
} */
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 /* color: F1F2EE; */
 /* color:blue; */
}
 
div{
 /* display: flex; */
 padding-left: 50px;
}
/* #profile-image{
 float: left;
} */
.identity h1{
 /* color: aquamarine; */
 width: 100px;
}
.menu{
 clear: left;
 background: F1F2EE;
}
.banner{
 clear: left;
 background: url(./images/background.jpeg);
 background-size: cover;
 background-repeat: no-repeat;
 background-attachment: fixed;
 height: 100vh;
 /* width: 50%; */
 /* text-align: center; */

}
/* .banner p{
 width: 50%;
} */
.copyright{
 text-align: center;
}